.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container button {
  margin: 10px 0;
}

.to-questionaire-match,
.to-questionaire-greate {
  /* flex: 1; */
  width: 45%;

}

.text-kol {
  /* flex: 2; */
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjust this to start to move the content upwards */
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  padding-top: 5vh; /* Adds some padding at the top to move the logo up but still gives some space */
}

.logo {
  width: auto; /* Adjusts width relative to height while maintaining aspect ratio */
  height: auto; /* Maintains aspect ratio based on width */
  max-width: 400px; /* Increased max-width */
  max-height: 400px; /* Increased max-height */
  margin-bottom: 20px; /* Adjust spacing below logo if needed */
}


.search-container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 2px 2px rgba(231, 231, 231, 0.201);
  display: flex; /* Makes the input and button lay out in a row */
  align-items: center;
  justify-content: space-between; /* This spreads out the elements inside the container */
}

.search-input {
  width: 70%; /* Adjust width as needed */
  margin-right: 20px; /* Increase the right margin to push the button further away */
}

.search-button {
  width: auto;
  padding: 0 15px; /* Optional: Adjust padding to increase button size if needed */
}
