.page-wrapper {
  width: 100vw;
  min-height: 100vh;
}

.login-container {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px #f2efef;
  width: 80vw;
  margin: 10vh auto;

  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

}

.login-container .left img {
  height: 25vw;
}

.right-container {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.login-logo {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 20px;
}

.text-info {
  color: #4d8686;
  font-size: 12px;
  display: block;
}